#TCMODIFIED
[diff]
	tool = TcProjectCompare
[difftool "TcProjectCompare"]
  path = C:/TwinCAT/3.1/Components/TcProjectCompare/TcProjectCompare.exe
	cmd = \"C:/TwinCAT/3.1/Components/TcProjectCompare/TcProjectCompare.exe\" //filel \"$LOCAL\" //filer \"$REMOTE\" //dl  \"$LOCAL\" //dr \"$REMOTE\"  //sc
	keepbackup = false
	trustexistcode = true
[merge]
	tool = TcProjectCompare
[mergetool "TcProjectCompare"]
  path = C:/TwinCAT/3.1/Components/TcProjectCompare/TcProjectCompare.exe
	cmd = \"C:/TwinCAT/3.1/Components/TcProjectCompare/TcProjectCompare.exe\" //filel \"$LOCAL\" //filer \"$REMOTE\" //filem \"$MERGED\" //dl \"$LOCAL\" //dr \"$REMOTE\" //sc
	keepbackup = false
	trustexistcode = true
#TCMODIFIED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = kdonaldson@mandela.ac.za
	name = kylewdonaldson
[difftool]
	prompt = true
[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Beckhoff\\TcXaeShell\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false
